<app-aircraft-navbar></app-aircraft-navbar>

<ng-container *ngIf="aircraftsState$ | async as state" [ngSwitch]="state.dataState">

    <ng-container *ngSwitchCase="aircraftsStateEnum.INITIAL">
        <div class="container d-flex">
            <div class="p-2 mx-auto">Initial State</div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="aircraftsStateEnum.ERROR">
        <div class="container d-flex">
            <div class="p-2 text-danger mx-auto">{{state.errorMessage}}</div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="aircraftsStateEnum.LOADING">
        <div class="container d-flex">
            <div class="p-2 mx-auto">Loading</div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="aircraftsStateEnum.LOADED">
        <div class="d-flex">
            <div class="mx-auto">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="px-5">Id</th>
                            <th class="px-5">Program</th>
                            <th class="px-5">Design</th>
                            <th class="px-5">Development</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aircraft of state.aircrafts">
                            <td class="px-5">{{aircraft.id}}</td>
                            <td class="px-5">{{aircraft.prog}}</td>
                            <td class="px-5">{{aircraft.design}}</td>
                            <td class="px-5">{{aircraft.development}}</td>
                        </tr>
                </table>
            </div>
        </div>
    </ng-container>
</ng-container>