<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a href="#">
        <img src="../assets/img/airbus_tag.png" alt="airbus_tag" width="200" class="mx-4">
    </a>
    <div class="container">
        <!-- <a class="navbar-brand" href="#">AIRBUS</a> -->
        <!-- Links -->
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/aircrafts" aria-current="page">Aircrafts</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>